<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row"> 
    <div class="col-md-6"> 
      <h3> Items </h3>
    </div>
    <div class="col-md-6"> 
      <h3> <%= link_to 'Sincronizar con mercado libre', stock_ml_syncup_path %> </h3>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Barcode</th>
        <th>Available quantity</th>
        <th>Visible</th>
        <th>Seller</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.title %></td>
          <td><%= item.description %></td>
          <td><%= item.barcode %></td>
          <td><%= item.available_quantity %></td>
          <td><%= item.visible %></td>
          <td><%= item.seller_id %></td>
          <td><%= link_to 'Show', item %></td>
          <td><%= link_to 'Edit', edit_item_path(item) %></td>
          <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Item', new_item_path %>
</div> 

